In [3]:
import pandas as pd
import glob
from sqlalchemy import create_engine
# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

In [4]:
all_files = glob.glob("stock_csv/*.csv")
engine = create_engine('mysql://root:Batman!99@localhost:3306/stock_db')

In [5]:
a = all_files[1]
apple = pd.read_csv(a)
apple['name'] = 'APPL'
apple.head(20)

IndexError: list index out of range

In [6]:
master = pd.DataFrame(columns=['Date','Open','Close','High', 'Low', 'Volume', 'Name'])
master

Empty DataFrame
Columns: [Date, Open, Close, High, Low, Volume, Name]
Index: []

In [7]:
for file in all_files:
    words = file.split('-')
    name = words[2].split('.')
    df = pd.read_csv(file)
    df['Name'] = name[0]
    master = master.append(df)

In [ ]:
master

In [ ]:
master.to_sql(name='master', con=engine, if_exists='replace')