In [2]:
import pandas as pd
import quandl
 # SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()
quandl.ApiConfig.api_key = "wSFUoCTA1xVwxRGoYcem"

In [3]:
engine = create_engine('mysql://root:Batman!99@localhost:3306/stock_db')
data = quandl.get_table("ZACKS/MT", paginate=True)

In [5]:
data.head()

,m_ticker,ticker,comp_name,comp_name_2,exchange,currency_code,ticker_type,active_ticker_flag,comp_url,sic_4_code,...,per_end_month_nbr,mr_split_date,mr_split_factor,comp_cik,country_code,country_name,comp_type,optionable_flag,sp500_member_flag,asset_type
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,AAPL,APPLE INC,Apple Inc.,NSDQ,USD,S,Y,http://www.apple.com,3571,...,9,2014-06-09,7.0,0000320193,US,UNITED STATES,1,Y,Y,COM
1,AXP,AXP,AMER EXPRESS CO,American Express Company,NYSE,USD,S,Y,http://www.americanexpress.com,6199,...,12,2000-05-11,3.0,0000004962,US,UNITED STATES,2,Y,Y,COM
2,BA,BA,BOEING CO,The Boeing Company,NYSE,USD,S,Y,http://www.boeing.com,3721,...,12,1997-06-09,2.0,0000012927,US,UNITED STATES,1,Y,Y,COM
3,CTR,CAT,CATERPILLAR INC,Caterpillar Inc.,NYSE,USD,S,Y,http://www.caterpillar.com,3531,...,12,2005-07-14,2.0,0000018230,US,UNITED STATES,1,Y,Y,COM
4,CSCO,CSCO,CISCO SYSTEMS,"Cisco Systems, Inc.",NSDQ,USD,S,Y,http://www.cisco.com,3576,...,7,2000-03-23,2.0,0000858877,US,UNITED STATES,1,Y,Y,COM

In [6]:
data.to_sql(name='company_info', con=engine, if_exists='replace')

In [4]:
data2 = quandl.get_table("ZACKS/CP", paginate=True)
data2.to_sql(name='company_addresses', con=engine, if_exists='replace')