In [1]:
import pandas as pd
import glob
from sqlalchemy import create_engine
# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
all_files = glob.glob("../stock_csv/*.csv")
engine = create_engine('mysql://root:****@localhost:3306/stock_db')

In [3]:
a = all_files[1]
apple = pd.read_csv(a)
apple['name'] = 'APPL'
apple.head(20)

          Date  Open  Close  High   Low   Volume  name
0   1970-01-02  1.25   1.22  1.25  1.22  1195200  APPL
1   1970-01-05  1.22   1.19  1.22  1.19   964800  APPL
2   1970-01-06  1.19   1.21  1.21  1.18  1036800  APPL
3   1970-01-07  1.21   1.21  1.22  1.20   331200  APPL
4   1970-01-08  1.21   1.22  1.23  1.21   460800  APPL
5   1970-01-09  1.22   1.22  1.24  1.22   748800  APPL
6   1970-01-12  1.22   1.20  1.22  1.20   864000  APPL
7   1970-01-13  1.20   1.21  1.22  1.20   849600  APPL
8   1970-01-14  1.21   1.23  1.23  1.21   619200  APPL
9   1970-01-15  1.23   1.23  1.23  1.23  1209600  APPL
10  1970-01-16  1.23   1.23  1.23  1.23   734400  APPL
11  1970-01-19  1.23   1.21  1.23  1.21  1180800  APPL
12  1970-01-20  1.21   1.21  1.21  1.19   763200  APPL
13  1970-01-21  1.21   1.22  1.22  1.21   878400  APPL
14  1970-01-22  1.22   1.22  1.22  1.21   360000  APPL
15  1970-01-23  1.22   1.22  1.23  1.21   979200  APPL
16  1970-01-26  1.22   1.22  1.22  1.21   979200  APPL
17  1970-01-27  1.21   1.20  1.21  1.20   532800  APPL
18  1970-01-28  1.19   1.14  1.19  1.14  1497600  APPL
19  1970-01-29  1.13   1.11  1.13  1.07  3585600  APPL

In [4]:
master = pd.DataFrame(columns=['Date','Open','Close','High', 'Low', 'Volume', 'Name'])
master

Empty DataFrame
Columns: [Date, Open, Close, High, Low, Volume, Name]
Index: []

In [5]:
for file in all_files:
    words = file.split('-')
    name = words[2].split('.')
    df = pd.read_csv(file)
    df['Name'] = name[0]
    master = master.append(df)

In [6]:
master

             Date   Open  Close   High    Low     Volume Name
0      2008-03-19  15.30  14.13  17.25  13.75  177121472    V
1      2008-03-20  14.60  16.09  16.25  14.38   49746236    V
2      2008-03-24  16.81  14.93  16.93  14.75   37423744    V
3      2008-03-25  15.15  15.81  16.06  14.96   21791298    V
4      2008-03-26  15.68  15.99  16.12  15.39   10784854    V
5      2008-03-27  16.01  15.73  16.18  15.66    9958761    V
6      2008-03-28  15.84  15.69  15.86  15.54    6174579    V
7      2008-03-31  15.65  15.59  15.87  15.51    5540062    V
8      2008-04-01  15.77  15.40  15.92  15.08   15105470    V
9      2008-04-02  15.43  15.58  15.58  15.13   10960140    V
10     2008-04-03  15.49  16.38  16.57  15.46   25203808    V
11     2008-04-04  16.23  16.12  16.33  15.94    9098811    V
12     2008-04-07  16.27  16.26  16.45  16.01    7078367    V
13     2008-04-08  16.20  17.02  17.06  16.20   13490957    V
14     2008-04-09  17.09  16.45  17.18  16.40   12084944    V
15     2008-04-10  16.54  16.53  16.68  16.28    5596283    V
16     2008-04-11  16.31  16.53  16.69  16.31    6608602    V
17     2008-04-14  16.68  16.42  16.81  16.38    7111548    V
18     2008-04-15  16.57  16.09  16.64  16.00    5975843    V
19     2008-04-16  16.14  16.54  16.74  16.14    6287187    V
20     2008-04-17  16.57  16.76  16.94  16.50    5615554    V
21     2008-04-18  17.00  17.25  17.61  16.80   26030744    V
22     2008-04-21  17.37  17.74  18.13  17.21   14721301    V
23     2008-04-22  17.98  17.57  18.10  17.50   11844560    V
24     2008-04-23  17.74  17.52  17.93  17.42    9334153    V
25     2008-04-24  17.80  18.08  18.25  17.51    9770604    V
26     2008-04-25  19.00  18.77  19.02  18.48   25364988    V
27     2008-04-28  19.13  18.91  19.32  18.73   33129322    V
28     2008-04-29  18.54  20.22  20.22  17.75   49327032    V
29     2008-04-30  20.35  20.86  21.20  20.27   36885816    V
...           ...    ...    ...    ...    ...        ...  ...
11785  2019-02-12  71.16  71.56  71.98  70.70    3964782  WBA
11786  2019-02-13  71.85  72.43  72.71  71.75    3800983  WBA
11787  2019-02-14  71.68  72.11  72.45  71.29    3675852  WBA
11788  2019-02-15  72.91  73.43  73.83  72.66    4670444  WBA
11789  2019-02-19  73.49  74.43  74.94  73.40    6298751  WBA
11790  2019-02-20  72.98  71.80  73.26  71.54    7842442  WBA
11791  2019-02-21  71.62  70.47  71.70  70.26    4293860  WBA
11792  2019-02-22  70.43  70.43  70.60  69.82    4838394  WBA
11793  2019-02-25  70.93  71.31  71.66  70.74    4251874  WBA
11794  2019-02-26  71.51  71.48  71.72  70.88    3414526  WBA
11795  2019-02-28  71.41  71.19  71.88  70.97    7774999  WBA
11796  2019-03-01  70.85  66.61  71.18  66.08   10299296  WBA
11797  2019-03-04  66.96  64.74  67.00  64.29   10870908  WBA
11798  2019-03-05  64.86  63.40  65.05  62.97   11872014  WBA
11799  2019-03-06  63.52  61.10  63.75  60.89   12946564  WBA
11800  2019-03-07  60.97  59.79  61.16  59.57    9619305  WBA
11801  2019-03-08  59.87  59.90  60.82  59.33    9884263  WBA
11802  2019-03-11  60.19  60.68  61.09  59.84    5368984  WBA
11803  2019-03-12  60.97  61.00  61.23  60.68    5542597  WBA
11804  2019-03-13  61.40  61.90  61.97  61.02    5632761  WBA
11805  2019-03-14  62.03  61.82  62.37  61.47    5757817  WBA
11806  2019-03-15  61.96  62.63  62.69  61.71    9601200  WBA
11807  2019-03-18  62.71  63.08  63.09  62.31    5001155  WBA
11808  2019-03-19  63.45  63.77  64.18  63.29    5679170  WBA
11809  2019-03-20  63.63  62.79  63.79  62.52    5012091  WBA
11810  2019-03-21  62.70  63.60  63.81  62.44    3754097  WBA
11811  2019-03-22  63.60  62.41  63.94  62.39    4734238  WBA
11812  2019-03-25  62.33  61.69  62.40  61.35    4166173  WBA
11813  2019-03-26  61.86  61.92  62.77  61.62    5570141  WBA
11814  2019-03-28  62.34  62.51  63.45  62.29    5768320  WBA

[308170 rows x 7 columns]

In [7]:
master.to_sql(name='master', con=engine, if_exists='replace')