In [22]:
import pandas as pd
import glob
from sqlalchemy import create_engine

In [23]:
all_files = glob.glob("stock_csv/*.csv")
engine = create_engine('mysql://root:****@localhost:3306/stock_db')

In [25]:
a = all_files[1]
apple = pd.read_csv(a)
apple['name'] = 'APPL'
apple.head(20)

          Date  Open  Close  High   Low  Volume  name
0   1972-06-01  3.68   3.68  3.68  3.68       0  APPL
1   1972-06-02  3.66   3.66  3.66  3.66       0  APPL
2   1972-06-05  3.58   3.58  3.58  3.58       0  APPL
3   1972-06-06  3.40   3.40  3.40  3.40       0  APPL
4   1972-06-07  3.36   3.36  3.36  3.36       0  APPL
5   1972-06-08  3.44   3.44  3.44  3.44       0  APPL
6   1972-06-09  3.41   3.41  3.41  3.41       0  APPL
7   1972-06-12  3.47   3.47  3.47  3.47       0  APPL
8   1972-06-13  3.47   3.47  3.47  3.47       0  APPL
9   1972-06-14  3.42   3.42  3.42  3.42       0  APPL
10  1972-06-15  3.38   3.38  3.38  3.38       0  APPL
11  1972-06-16  3.38   3.38  3.38  3.38       0  APPL
12  1972-06-19  3.35   3.35  3.35  3.35       0  APPL
13  1972-06-20  3.36   3.36  3.36  3.36       0  APPL
14  1972-06-21  3.42   3.42  3.42  3.42       0  APPL
15  1972-06-22  3.49   3.49  3.49  3.49       0  APPL
16  1972-06-23  3.32   3.32  3.32  3.32       0  APPL
17  1972-06-26  3.22   3.22  3.22  3.22       0  APPL
18  1972-06-27  3.36   3.36  3.36  3.36       0  APPL
19  1972-06-28  3.39   3.39  3.39  3.39       0  APPL

In [19]:
master = pd.DataFrame(columns=['Date','Open','Close','High', 'Low', 'Volume', 'Name'])
master

Empty DataFrame
Columns: [Date, Open, Close, High, Low, Volume, Name]
Index: []

In [26]:
for file in all_files:
    words = file.split('-')
    name = words[2].split('.')
    df = pd.read_csv(file)
    df['Name'] = name[0]
    master = master.append(df)

In [27]:
master

             Date   Open  Close   High    Low    Volume  Name
0      1980-12-12   0.51   0.51   0.52   0.51   2093900  AAPL
1      1980-12-15   0.49   0.49   0.49   0.49    785200  AAPL
2      1980-12-16   0.45   0.45   0.45   0.45    472000  AAPL
3      1980-12-17   0.46   0.46   0.46   0.46    385900  AAPL
4      1980-12-18   0.48   0.48   0.48   0.48    327900  AAPL
5      1980-12-19   0.50   0.50   0.51   0.50    217100  AAPL
6      1980-12-22   0.53   0.53   0.53   0.53    166800  AAPL
7      1980-12-23   0.55   0.55   0.55   0.55    209600  AAPL
8      1980-12-24   0.58   0.58   0.58   0.58    214300  AAPL
9      1980-12-26   0.63   0.63   0.64   0.63    248100  AAPL
10     1980-12-29   0.64   0.64   0.65   0.64    415900  AAPL
11     1980-12-30   0.63   0.63   0.63   0.63    307500  AAPL
12     1980-12-31   0.61   0.61   0.61   0.61    159600  AAPL
13     1981-01-02   0.62   0.62   0.62   0.62     96700  AAPL
14     1981-01-05   0.60   0.60   0.60   0.60    159500  AAPL
15     1981-01-06   0.58   0.58   0.58   0.58    201600  AAPL
16     1981-01-07   0.55   0.55   0.55   0.55    248600  AAPL
17     1981-01-08   0.54   0.54   0.54   0.54    177800  AAPL
18     1981-01-09   0.57   0.57   0.57   0.57     96000  AAPL
19     1981-01-12   0.56   0.56   0.57   0.56    105800  AAPL
20     1981-01-13   0.54   0.54   0.55   0.54    102900  AAPL
21     1981-01-14   0.55   0.55   0.55   0.55     63800  AAPL
22     1981-01-15   0.56   0.56   0.56   0.56     62800  AAPL
23     1981-01-16   0.55   0.55   0.56   0.55     59800  AAPL
24     1981-01-19   0.59   0.59   0.59   0.59    185600  AAPL
25     1981-01-20   0.57   0.57   0.57   0.57    134300  AAPL
26     1981-01-21   0.58   0.58   0.58   0.58     71000  AAPL
27     1981-01-22   0.59   0.59   0.59   0.59    158700  AAPL
28     1981-01-23   0.58   0.58   0.59   0.58     50100  AAPL
29     1981-01-26   0.58   0.58   0.58   0.58    110000  AAPL
...           ...    ...    ...    ...    ...       ...   ...
11785  2019-02-12  75.08  75.40  75.45  74.82  12519180   XOM
11786  2019-02-13  75.58  76.25  76.54  75.51  12987231   XOM
11787  2019-02-14  76.26  76.27  76.65  75.71  12429486   XOM
11788  2019-02-15  76.94  77.71  77.76  76.75  13969373   XOM
11789  2019-02-19  77.56  78.23  78.48  77.45  13019762   XOM
11790  2019-02-20  78.30  78.53  78.81  78.00  12592951   XOM
11791  2019-02-21  78.21  77.82  78.66  77.61  10163426   XOM
11792  2019-02-22  78.71  78.42  78.95  77.62   9460970   XOM
11793  2019-02-25  78.43  78.50  78.85  78.20   8386994   XOM
11794  2019-02-26  78.68  78.66  79.13  78.39  10284668   XOM
11795  2019-02-28  79.45  79.03  79.75  78.71  14597883   XOM
11796  2019-03-01  79.38  80.00  80.00  79.03  15419422   XOM
11797  2019-03-04  80.24  80.31  80.55  79.01  18090161   XOM
11798  2019-03-05  80.12  80.19  80.40  79.75  12944927   XOM
11799  2019-03-06  78.85  79.28  79.38  77.86  17633592   XOM
11800  2019-03-07  79.55  80.16  80.26  79.32  15265656   XOM
11801  2019-03-08  78.89  79.01  79.32  78.25  16051491   XOM
11802  2019-03-11  79.98  79.78  80.29  79.65  10236729   XOM
11803  2019-03-12  80.11  80.00  80.58  79.89  10847984   XOM
11804  2019-03-13  80.59  80.71  80.76  80.20  10203875   XOM
11805  2019-03-14  80.80  80.44  80.91  80.35   9877142   XOM
11806  2019-03-15  80.18  80.15  80.55  80.10  25022968   XOM
11807  2019-03-18  80.44  81.08  81.25  80.44   9599551   XOM
11808  2019-03-19  81.58  80.87  82.00  80.64  13615592   XOM
11809  2019-03-20  80.75  81.32  81.92  80.56  13116631   XOM
11810  2019-03-21  80.81  81.79  81.89  80.80   9251211   XOM
11811  2019-03-22  81.23  80.48  81.44  80.30  12389545   XOM
11812  2019-03-25  80.00  79.92  80.44  79.59  11273750   XOM
11813  2019-03-26  80.33  80.96  81.27  80.18   9429223   XOM
11814  2019-03-28  80.03  80.74  80.79  80.02   7412348   XOM

[308170 rows x 7 columns]

In [29]:
master.to_sql(name='master', con=engine, if_exists='replace')